/* Styles for elements in page template */
#content {
    min-height: 20em;
}

#top-menu {
    height: 50px;
    background-color: black;
    margin-bottom: 20px;
}
#top-menu a {
    color: white;
}
#top-menu li {
    display: inline-block;
    /* Override styles from foundation */
    font-size: 20px;
    line-height: 50px;
}

#top-menu .has-flyout .flyout {
    display: none;
    position: absolute;
    top: 50px;
}
#top-menu .has-flyout .flyout li {
    display: block;
}
#top-menu .has-flyout .flyout a {
    color: black;
}
#top-menu .has-flyout:hover .flyout {
    display: block;
}

#footer {
    margin: 2em 0;
    border-top: thin solid #cdc;
    text-align: right;
    font-size: 12px;
    line-height: 1.6;
    color: #666;
}

/* Missing HTML5 input styles from foundation */
input[type=date],
input[type=email],
input[type=number] {
    display: block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);

    width: 100%;
    margin: 0 0 12px 0;
    padding: 6px;
    font-size: 14px;
    height: 32px;

    transition: all 0.15s linear;
}
input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus {
    background: #fafafa;
    outline: none !important;
    border-color: #b3b3b3;
}
input[type=date][disabled],
input[type=email][disabled],
input[type=number][disabled] {
    background-color: #ddd;
}

/* Work-around for bug in Foundation when inputs are inside lists. */
.input-fix {
    padding-left: 1.5em;
}
.input-fix li {
    list-style-position: outside;
}
.input-fix li input {
    display: inline-block !important;
}

/* Take advantage of HTML5 form validation to make user aware of inputs that
 * need attention. */
input:focus:invalid {
    border-color: red !important;
}

/* Global styles */
table {
    width: 100%;
    border-collapse: collapse;
}
table tbody tr:hover,
table tbody tr:nth-child(even):hover {
    background-color: #f0f0f0;
}

.number {
    text-align: right;
}
.red {
    color: red;
}
.green {
    color: green;
}
.removed {
    text-decoration: line-through;
    text-decoration-color: red;
    -moz-text-decoration-color: red;
    -webkit-text-decoration-color: red;
    -ms-text-decoration-color: red;
    -o-text-decoration-color: red;
}

.dialog {
    display: none;
}

.avatar {
    text-align: center;
    display: inline-block;
    width: 110px;
}
.avatar-img {
    vertical-align: middle;
    border-radius: 3px;
}

ul.errors li {
    list-style: none;
    background: 0% 50% no-repeat url(../images/exclamation-24x24.png);
    padding-left: 32px;
}

table.entries tbody tr:hover,
table.entries tbody tr:nth-child(even),
table.entries tbody tr:nth-child(even):hover {
    background-color: inherit
}
table.entries tbody:nth-of-type(even) {
    background-color: #f9f9f9;
}
table.entries tbody:hover {
    background-color: #f0f0f0;
}

/* Entry editor styling */
.entry-editor table {
    /* Override foundation's table styling. */
    border: none;
    background: none;
}
.entry-editor td {
    vertical-align: middle;
    /* Override foundation's table styling. */
    font-size: 13px;
    padding-left: 0;
}

.entry-editor #victim-list {
    width: auto;
}
.entry-editor #victim-list input[type=range] {
    width: 100%;
}

.entry-editor #person-selector {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    width: 130px;
    text-align: center;
    border-radius: 3px;
    z-index: 100;
}
.entry-editor #person-selector .select-user {
    margin: 20px 0;
}
.entry-editor #person-selector .select-user:nth-child(even) {
    background-color: #f9f9f9;
    border-radius: 3px;
}

/* The journal page */
#journal-page .remove-person {
    display: none;
    position: absolute;
    padding: 2px;
    color: #C60F13;
}
#journal-page #overview li:hover .remove-person {
    display: block;
}

#journal-page #overview li {
    /* h3 sized */
    line-height: 1;
    font-size: 2.8rem;
    font-weight: bold;
}
#journal-page #overview li img {
    float: left;
    margin-right: .4em;
}

#journal-page table #date {
    width: 8em;
}
#journal-page table #amount {
    width: 6em;
}

/* The home page */
#home-page td a {
    display: block;
    color: black;
}
