/* Styles for elements in page template */
#top-menu {
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    background-color: black;
    margin-bottom: 20px;
}
#top-menu a {
    color: white;
}
#top-menu li {
    display: inline-block;
}

/* Global styles */
input {
    margin: 0;
    padding: .4em;
    border: thin solid #a9a9a9;
    border-radius: 3px;
}

.large.button {
    margin: 1em 0;
}

.red {
    color: red;
}
.green {
    color: green;
}

/* Random bunch of styles */
.avatar-img {
    vertical-align: middle;
    border-radius: 3px;
}

.avatar {
    text-align: center;
    display: inline-block;
    width: 110px;
}

.entry-editor table {
    /* Override foundation's table styling. */
    border: none;
    background: none;
}
.entry-editor td {
    vertical-align: middle;
    /* Override foundation's table styling. */
    font-size: 13px;
    padding-left: 0;
}

#journal-page table {
    width: 100%;
}
#journal-page #overview li {
    /* h3 sized */
    line-height: 1;
    font-size: 2.8rem;
    font-weight: bold;
}
#journal-page #overview li img {
    float: left;
    margin-right: .4em;
}

#home-page table {
    width: 75%;
}
#home-page td a {
    display: block;
    color: black;
}

#victim-list input[type=range] {
    width: 100%;
}

#user-selector {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    width: 130px;
    text-align: center;
    border-radius: 3px;
    z-index: 100;
}
#user-selector .select-user {
    margin: 20px 0;
}
#user-selector .select-user:nth-child(even) {
    background-color: #f9f9f9;
    border-radius: 3px;
}

.dialog {
    display: none;
}
