Flask==0.9
Flask-Script==0.3.3
Flask-Genshi==0.5.1
Flask-SQLAlchemy==0.16
Flask-WTF==0.6
Genshi==0.6
SQLAlchemy==0.7.6
WTForms==1.0.1
Werkzeug==0.8.1
gunicorn==0.12.2
lxml==2.3
psycopg2==2.4.2
pylibmc==1.2.2
python-openid==2.2.5
raven==0.7.0
simplejson==2.6.1
translitcodec==0.3
wsgi-lite==0.5a2
wsgiref==0.1.2
