Axiom==0.6.0
BeautifulSoup==3.2.0
Brlapi==0.5.5
Coherence==0.6.6.2
Epsilon==0.6.0
Flask==0.8
Flask-Genshi==0.5.2
Flask-WTF==0.6
Genshi==0.6
GnuPGInterface==0.3.2
Jinja2==2.6
Louie==1.1
Nevow==0.10.0
PAM==0.4.2
PIL==1.1.7
Paste==1.7.5.1
SQLAlchemy==0.7.6
SimpleTAL==4.3
Twisted-Conch==11.0.0
Twisted-Core==11.0.0
Twisted-Names==11.0.0
Twisted-Web==11.0.0
WTForms==1.0.1
Werkzeug==0.8.3
apt-xapian-index==0.44
aptoncd==0.1.98-bzr117-1.1build2
apturl==0.4.1ubuntu4
chardet==2.0.1
command-not-found==0.2.44
configglue==1.0
configobj==4.7.2
coverage==3.5.1
defer==1.0.2
duplicity==0.6.15
feedparser==5.0.1
foolscap==0.6.1
gnome-app-install==0.4.7-nmu1ubuntu2
gufw==11.10.2
gunicorn==0.12.2
heywood==0.0.1
httplib2==0.7.2
ipython==0.10.2
jockey==0.9.4
keyring==0.6.2
launchpadlib==1.9.8
lazr.restfulclient==0.11.2
lazr.uri==1.0.2
louis==2.3.0
lxml==2.3
mock==0.7.2
nose==1.1.2
nvidia-common==0.0.0
oauth==1.0.1
papyon==0.5.5
paramiko==1.7.7.1
pexpect==2.3
piston-mini-client==0.6
protobuf==2.4.0a
psycopg2==2.4.2
pyOpenSSL==0.12
pyasn1==0.0.11a
pycrypto==2.3
pycups==1.9.59
pycurl==7.19.0
pyinotify==0.9.3
pyserial==2.5
pysmbc==1.0.10
pysqlite==2.6.3
python-apt==0.8.0ubuntu9
python-dateutil==1.4.1
python-debian==0.1.20ubuntu2
python-openid==2.2.5
python-virtkey==0.60.0
pyxdg==0.19
resolver==0.2.1
selector==0.8.11
sessioninstaller==0.0.0
simplejson==2.1.6
system-service==0.1.6
tagpy==0.94.8
ufw==0.30.1-2ubuntu1
unattended-upgrades==0.1
usb-creator==0.2.23
wadllib==1.2.0
wsgi-lite==0.5a2
wsgiref==0.1.2
wxPython==2.8.11.0
wxPython-common==2.8.11.0
xkit==0.0.0
yaro==0.6.4
zope.interface==3.6.1
