<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      id='journal-page'>
<xi:include href='page.html'/>
<head/>
<body>
  <div id='content'>
    <h1>${event.name}</h1>

    <?python
      is_member = (g.user and
                   g.user.id in [member.user_id for member in event.members])
    ?>

    <div style='float: right;'>
      <a py:if='event.closed'
         class='large success button radius for-dialog'
         data-dialog='reopen-event' href='#'>Re-open event</a>
      <a py:if='not event.closed'
         class='large alert button radius for-dialog'
         data-dialog='close-event' href='#'>Close event</a>
    </div>
    <ul class='button-group radius' py:if='is_member'>
      <li><a class='large button for-dialog'
             data-dialog='add-people' href='#'>Add people</a></li>
      <li><a class='large button'
             href='${url_for("new_entry",
                             external_id=event.external_id,
                             slug=event.slug)}'>Add entry</a></li>
      <li><a class='large button for-dialog'
             data-dialog='invite-friends' href='#'>Invite friends</a></li>
    </ul>
    <ul class='button-group radius' py:if='not is_member'>
      <li py:if='g.user'>
        <a class='large button for-dialog'
           data-dialog='join' href='#'>Join!</a>
      </li>
      <li py:if='not g.user'>
        <a href='${url_for("account.login", r=request.path + "#join")}'
           class='large button'>Join!</a>
      </li>
    </ul>

    <div class='panel radius'>
      <h2>members</h2>
      <ul id='overview' class='block-grid three-up'>
        <li py:for='person in event.members'>
          ${render_avatar_img(person)}
          ${person.name}<br/>
          ${render_amount(event.person_total[person.person_id])}
        </li>
      </ul>
    </div>

    <h2>latest entries</h2>
    <p py:if='not event.all_entries'>
      This event has no entries yet,
      <a href='${url_for("new_entry",
                         external_id=event.external_id,
                         slug=event.slug)}'>add one</a>?
    </p>
    <div py:if='event.all_entries'>
      ${render_entries(event.all_entries[:3])}
      <a class='large button'
         href='${url_for("all_entries",
                         external_id=event.external_id,
                         slug=event.slug)}'>View all entries</a>
    </div>

    <div id='add-people' class='dialog'>
      <h1>Add People</h1>
      <p>Enter the names of people to add, one per input:</p>
      <ol class='input-fix input-auto-repeat'>
        <li><input type='text' name='name' placeholder='name'/></li>
      </ol>
      <button data-event='dialog-ok'>Ok</button>
    </div>

    <div id='invite-friends' class='dialog'>
      <h1>Invite Friends</h1>
      <p>Invite your friends to join this journal via this link:</p>
      <div style='padding: .5em 2em;'>
        <a href='${request.base_url}'>${request.base_url}</a>
      </div>
      <button data-event='dialog-ok'>Ok</button>
    </div>

    <div id='close-event' class='dialog'>
      <h1>Really close event?</h1>
      <p>A closed event will no longer be listed on its members Home
      screen.</p>
      <button data-event='dialog-canel'>Cancel</button>
      <button data-event='dialog-ok'>Close event</button>
    </div>

    <div id='reopen-event' class='dialog'>
      <h1>Really re-open event?</h1>
      <p>The event will be listed on all its members Home screen.</p>
      <button data-event='dialog-canel'>Cancel</button>
      <button data-event='dialog-ok'>Re-open event</button>
    </div>

    <div id='join' class='dialog'>
      <h1>Select yourself</h1>
      <ul class='block-grid three-up'>
        <li py:for='person in event.members' py:if='not person.user_id'>
          <a href='#'>${render_avatar(person)}</a>
        </li>
      </ul>
      <button data-event='dialog-ok'>Ok</button>
    </div>
  </div>
</body>
</html>
