<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<?python
  people = [person
            for person in event.members
            if not person.removed]

  user_person, = [person
                  for person in people
                  if person.user_id == g.user.id]

  # FIXME - figure out where the flying fuck dict got bound to some random
  # value.
  dict = type({})
  victims = dict((person, share)
                 for person, share in zip(form.victims.data, form.shares.data)
                 if share > 0)
?>

<xi:include href='page.html'/>

<head/>
<body class='widget-app'>
  <div id='content'>
    <div>
      <h1>${event.name} &ndash; add entry</h1>

      <form method='POST'
            action='${url_for("new_entry",
                              external_id=event.external_id,
                              slug=event.slug)}'
            class='entry-editor'>
        ${form.csrf_token}

        <div class='panel radius'>
          <ul class='block-grid three-up'>
            <li>
              <label>
                <h2>select payer</h2>
                <a href='#' id='payer-avatar'
                   class='for-dialog' data-dialog='select-payer'>
                  ${render_avatar(user_person)}
                </a>
                <input type='hidden' name='payer'
                       value='${user_person.person_id}'
                       required='required'/>
              </label>
            </li>

            <li>
              <label>
                <h2>date</h2>
                ${render_field(form.date,
                               required=True,
                               type='date', class_='eight',
                               tabindex=3)}
              </label>
            </li>

            <li>
              <label>
                <h2>amount</h2>
                ${render_field(form.amount,
                               type='text', class_='eight',
                               pattern='[0-9.,]+',
                               autofocus=True, required=True,
                               placeholder='how much did you spend?',
                               tabindex=1)}
              </label>
              <label>
                ${render_field(form.manual_entry)}
                enter per-victim amounts manually
              </label>
            </li>
          </ul>

          <div class='row'>
            <div class='eight columns offset-by-four'>
              <label>
                <h2>description</h2>
                ${render_field(form.description,
                               required=True,
                               placeholder='what did you buy this time?!',
                               tabindex=2)}
              </label>
            </div>
          </div>
        </div>

        <div class='panel radius'>
          <label><h2>select victims</h2></label>

          <ul py:if='form.victims.errors' class='errors'>
            <li py:for='error in form.victims.errors'>${error}</li>
          </ul>

          <ul class='block-grid five-up'>
            <li py:for='person in people'>
              <a href='#' class='toggle-victim'
                 data-person='${person.person_id}'>
                ${render_avatar(person)}
              </a>
            </li>
          </ul>

          <table id='victim-list'>
            <tr py:for='person in people' class='victim'
                data-person='${person.person_id}'
                style='${"display: none;"
                         if person.person_id not in victims
                         else ""}'>
              <td>${render_avatar(person)}</td>
              <td>
                <div>
                  <input type='hidden' name='victims'
                         value='${person.person_id}'/>
                  <input type='range' min='0' max='10'
                         name='shares'
                         value='${victims.get(person.person_id, 0)}'/>
                </div>
                <div class='preview'/>
              </td>
            </tr>
          </table>
        </div>

        <input type='submit'
               class='nice large radius button'
               value='Add entry'/>

        <div class='dialog' id='select-payer'>
          <h1>Select Payer</h1>
          <ul id='person-selector' class='block-grid four-up'>
            <li py:for='person in people'
                class='select-person'
                data-person='${person.person_id}'>
              <a href='#'>${render_avatar(person)}</a>
            </li>
          </ul>
          <button data-event='dialog-ok'>Ok</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
