<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<xi:include href='macros.xml'/>
<py:match path='head' once='true'>
  <head>
    <meta name="google-site-verification"
          content="kj_lJVr9ZbC_0ZheE569M6zBrXUcNl6BgfrXFOnPhl4" />

    <link rel='stylesheet' type='text/css' data-live='true'
          href='${static_url("css/style.css")}'/>

    <link rel='stylesheet' type='text/css'
          href='/static/vendor/foundation3/stylesheets/foundation.css'/>

    <link rel='stylesheet' type='text/css'
          href='//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css'/>

    ${select('*')}
    <title py:if='not select("title")'>you-owe-it</title>

    <?python from flask import json ?>
    <script py:if='defined("form")'>
      var csrf_token = ${json.dumps(form.csrf_token.current_token)};
    </script>

    <?python from yoi.config import google_analytics_account ?>
    <script type="text/javascript" py:if='google_analytics_account'>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '${google_analytics_account}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
</py:match>
<py:match path="body" once="true">
  <body py:attrs="select('@*')">
    <div id='top-menu'>
      <div class='container'>
        <div class='row'>
          <div class='eight columns'>
            <ul class='left'>
              <li>
                <a href='/'>yoi</a>
                <b>*beta*</b>
              </li>
            </ul>
          </div>
          <div class='four columns'>
            <ul class='right'>
              <li py:if='g.user' class='has-flyout'>
                <a href='/home'>${g.user.name} ▼</a>
                <ul class='flyout right'>
                  <li><a href='/home'>home</a></li>
                  <li><a href='/settings'>settings</a></li>
                  <li><a href='/logout'>logout</a></li>
                </ul>
              </li>
              <li py:if='not g.user'><a class='submit-login-form'
                                        href='/login'>login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id='ui' class='container'>
      <div class='row'>
        <div class='twelve columns'>
          <div py:for='category, message in get_flashed_messages(with_categories=True)'
               class='alert-box ${category}'>
            ${message}
            <a href="" class="close">&times;</a>
          </div>

          ${select("//*[@id='content']")}

          <div id='footer'>
            uowe.it is a free group expense tracker for you and your
            friends!<br/>
            need help? message or post us on our facebook page:
            <a href='https://www.facebook.com/uowe.it'>www.facebook.com/uowe.it</a>
          </div>
        </div>
      </div>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>

    <script src='${static_url("site.js")}'></script>

    <form method='POST' action='/login' id='login-form'>
      <input type='hidden' name='openid'
             value='https://www.google.com/accounts/o8/id'/>
    </form>
  </body>
</py:match>
</html>
