<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href='../page.html'/>
<head/>
<body>
  <div id='content'>
    <div id='ui'>
      <h1>Hilo!</h1>
      <form method='POST'>
        ${form.csrf_token()}
        <div py:if='form.errors'>There were errors!</div>
        <div>
          ${form.openid.label()}
          <py:if test='"openid" in form.errors'>
            <div py:for='error in form.errors["openid"]'>${error}</div>
          </py:if>
          ${form.openid()}
        </div>
        <div><input type='submit' value='login'/></div>
      </form>

      <form method='POST'>
        ${form.csrf_token()}
        <input type='hidden' name='openid'
               value='https://www.google.com/accounts/o8/id'/>
        <input type='submit' value='login with gmail'/>
      </form>
    </div>
  </div>
</body>
</html>
