<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href='../page.html'/>
<head/>
<body>
  <div id='content'>
    <div id='ui'>
      <h1>welcome, stranger</h1>
      <form method='POST' class='nice'>
        ${form.csrf_token()}

        <div>
          <div py:if='form.errors'>There were errors!</div>
          <label for='name'>What should I call you?</label>
          <py:if test='"name" in form.errors'>
            <div py:for='error in form.errors["name"]'>${error}</div>
          </py:if>
          ${form.name(required=True, placeholder='name')}
        </div>

        <div>
          <input type='submit' value='ok'
                 class='blue radius nice button' />
        </div>
      </form>
    </div>
  </div>
</body>
</html>
