<?xml version='1.0'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      metal:define-macro='database_index'>
<head>
<title tal:content='database/name'/>
</head>

<body>
<h1 metal:define-slot='header' tal:content='database/name'/>

<h2>ialt</h2>
<table border='1'>
<thead>
<tr>
    <th></th>
    <th tal:repeat='person database/people' tal:content='person'/>
</tr>
</thead>
<tbody>
<tr>
    <th style='text-align: left;'>Udlagt</th>
    <td tal:repeat='u udlaeg'>
        <span tal:attributes='title u'
              tal:content='python:round(u, 1)'/>
    </td>
</tr>
<tr>
    <th style='text-align: left;'>Forbrugt</th>
    <td tal:repeat='f forbrug'>
        <span tal:attributes='title f'
              tal:content='python:round(f, 1)'/>
    </td>
</tr>
<tr>
    <th style='text-align: left;'>Ialt</th>
    <th tal:repeat='t total'>
        <span tal:attributes='title t'
              tal:content='python:round(t, 1)'/>
    </th>
</tr>
</tbody>
</table>

<p>du kan ogs&aring; se <a href='poster/'>alle posterne i dette
regnskab</a>.</p>

<h2>opret ny</h2>
<form method='post' action='opret/'>
<table style='text-align: left;'>
<tr><th>Dato (DD-MM):</th> <td><input name='dato'
                                    tal:attributes='value today' /></td></tr>
<tr><th>Udl&aelig;g:</th> <td><input name='udlaeg' /></td></tr>
<tr><th>Udl&aelig;gger:</th>
    <td><select name='udlaegger'>
    <option tal:repeat='p database/people'
            tal:content='p' tal:attributes='value p' />
    </select></td>
</tr>
<tr><th>Streger:</th> <td>
<div tal:repeat='p database/people'>
<input tal:attributes='id string:${p}-streger ; name string:${p}-streger'
       type='text' size='2' value='0' />
<label tal:attributes='for string:${p}-streger' tal:content='p'/>
</div>
</td></tr>

<tr><th>Kommentar:</th> <td><input name='kommentar' /></td></tr>
</table>

<input type='submit' value='noget!' />
</form>
</body>
</html>
