<?xml version='1.0'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title tal:content='database/name'/>
</head>

<body>
<h1 tal:content='database/name'/>

<h2>poster</h2>
<table border='1'>
<thead>
<tr>
    <th>dato</th>
    <th>udl&aelig;gger</th>
    <th>udl&aelig;g</th>
    <th>ofrer</th>
    <th>kommentar</th>
</tr>
</thead>

<tbody>
<tr tal:repeat='row database/rows'>
    <td tal:content='row/date'/>
    <td tal:content='row/spender'/>
    <td tal:content='row/amount'/>
    <td><span tal:repeat='v row/victims'
              tal:content='string:${v/0}=${v/1} '/></td>
    <td tal:content='row/comment'/>
</tr>
</tbody>
</table>
</body>
</html>
