<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href='page.html'/>
<head>
  <title>Not Found</title>
</head>
<body id='not-found-page'>
  <div id='content' class='six columns centered'>
    <div style='width: 30em; margin: 0 auto;'>
      <div style='text-align: center;'>
        <h1>You broke it.<br/>You monster :(</h1>
      </div>
      <p>Just kidding! Maybe the server exploded? In any case this is our fault,
      and we have been notified of it. Sorry about the trouble.</p>
    </div>
  </div>
</body>
</html>
