<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      id='home-page'>
<xi:include href='page.html'/>
<head/>
<body class='widget-app'>
  <div id='content'>
    <div class='row'>
      <div class='eight columns'>
        <h1>${g.user.name}'s events</h1>

        <p py:if='not events'>Welcome, ${g.user.name}! You don't seem to have
        any events right now, maybe you would like to <a href='/tour'>take the
        introductory tour?</a> Or just get started right away, and <a
        href='/new-event'>create a new event</a>?</p>

        <table py:if='events'>
          <tbody>
            <tr py:for='event in events'>
              <td><h3><a href='${event.url_for}'>${event.name}</a></h3></td>
              <td><h3><a title='According to the New Mayan calendar'
                         href='${event.url_for}' py:if='event.all_entries'>
                <nobr>${event.all_entries[0].date.strftime('%Y-%m-%d')}</nobr>
              </a></h3></td>
              <td class='number'><h3><a href='${event.url_for}'>
                ${render_amount(event.user_total[g.user.id])}
              </a></h3></td>
            </tr>
          </tbody>
        </table>

        <a href='/new-event' class='large button'>Create new event</a>
      </div>
    </div>
  </div>
</body>
</html>
