<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href='page.html'/>
<xi:include href='data.xml'/>
<head/>
<body class='widget-app'>
  <div id='content'>
    <h1>welcome, mig@ibofobi.dk</h1>

    <h2>your journals</h2>
    <table>
      <tr>
        <td><h3><a href='journal'>film</a></h3></td>
        <td><h3 style='color: red'>- 32.00</h3></td>
      </tr>
      <tr>
        <td><h3><a href='journal'>bio</a></h3></td>
        <td><h3 style='color: green'>+ 21.00</h3></td>
      </tr>
      <tr>
        <td><h3><a href='journal'>frokost</a></h3></td>
        <td><h3 style='color: red'>- 42.00</h3></td>
      </tr>
    </table>
  </div>
</body>
</html>

