<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      id='home-page'>
<xi:include href='page.html'/>
<xi:include href='data.xml'/>
<head/>
<body class='widget-app'>
  <div id='content'>
    <h1>welcome, mig@ibofobi.dk</h1>

    <h2>your journals</h2>
    <table>
      <tr>
        <td><h3><a href='journal'>film</a></h3></td>
        <td><h3><a href='journal'>2012-07-07</a></h3></td>
        <td><h3><a href='journal'>${render_amount(-32)}</a></h3></td>
      </tr>
      <tr>
        <td><h3><a href='journal'>bio</a></h3></td>
        <td><h3><a href='journal'>1979-07-09</a></h3></td>
        <td><h3><a href='journal'>${render_amount(21)}</a></h3></td>
      </tr>
      <tr>
        <td><h3><a href='journal'>frokost</a></h3></td>
        <td><h3><a href='journal'>2011-11-11</a></h3></td>
        <td><h3><a href='journal'>${render_amount(-42)}</a></h3></td>
      </tr>
    </table>

    <a href='#'
       class='nice large radius button'>Create new journal</a>
  </div>
</body>
</html>

