<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href='page.html'/>
<?python
  from hashlib import md5
  users = [
    (1, 'mig@ibofobi.dk'),
    (2, 'f@doptio.com'),
    (3, 'car@csis.dk'),
    (4, 'sbv@csis.dk'),
  ]
?>
<py:def function='avatar(email, size=60)'>
  <img py:with='hash = md5(email.lower()).hexdigest()'
       src='http://www.gravatar.com/avatar/${hash}?size=${size}'
       width='${size}' height='${size}'
       title='${email}' alt="${email}'s avatar"/>
</py:def>
<head/>
<body class='widget-app'>
  <div id='content'>
    <div id='ui'>
      <h1>yoi</h1>
      <p py:if='g.user'>Hello ${g.user.name}, would you like to
      <a href='${url_for("account.logout")}'>logout</a>?</p>
      <p py:if='not g.user'>Hello stranger, would you like to
      <a href='${url_for("account.login")}'>login</a>?</p>
    </div>

    <div class='entry-editor'>
      <h1>add new entry</h1>

      <h2>udlagt</h2>
      <table>
        <tr>
          <td>${avatar('mig@ibofobi.dk')}</td>
          <td>
            <input type='hidden' name='payer' value='1'/>
            <input type='number' value='117' name='amount'/> DKK
          </td>
        </tr>
      </table>

      <h2>ofre</h2>
      <table>
        <tr py:for='user_id, email in users' class='victim'>
          <td>${avatar(email)}</td>
          <td>
            <div>
              <input type='hidden' name='victim' value='${user_id}'/>
              <input type='range' value='1' min='0' max='10'
                     name='shares'
                     style='width: 100%;'/>
            </div>
            <div class='preview'/>
          </td>
        </tr>
      </table>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js'></script>
    <script>
      var formatAmount = function(amt) {
        return (amt >= 0 ? '+' : '') + amt.toFixed(2);
      };
      $.fn.yoi_entry_editor = function() {
        var self = this;

        var update_share_descriptions = function() {
          var payer = self.find('input[name=payer]').val();

          var shares_total = 0;
          self.find('input[name=shares]').each(function(i, e) {
            shares_total += parseFloat(e.value);
          });

          var amount_total = parseFloat(self.find('input[name=amount]').val());

          self.find('.victim').each(function(i, e) {
            var e = $(e);
            var victim = e.find('input[name=victim]').val();
            var shares = e.find('input[name=shares]').val();
            var percentage = 100 / shares_total * shares;
            var amount = - amount_total / shares_total * shares;

            if(victim == payer)
              amount += amount_total;

            var text = '(' + shares + ' shares ~ '
                                        + percentage.toFixed(0) + '% ~ '
                                        + formatAmount(amount) + ' DKK)';
            text = text.replace('(1 shares', '(1 share');

            e.find('.preview').text(text);
          });
        };

        this.find('input').on('change', function(ev) {
          update_share_descriptions();
        });
        update_share_descriptions();
      };

      $(document).ready(function() {
        $('.entry-editor').yoi_entry_editor();
      });
    </script>
  </div>
</body>
</html>
