<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href='page.html'/>
<head/>
<body class='widget-app'>
  <div id='content' class='row'>
    <div class='eight columns centered'>
      <h1>who-payed-what-owes-who?!</h1>

      <p>Easily track group spending for your trip, movie night, party, etc.</p>

      <p>Create an event now and invite your friends to make the
      who-payed-what-owes-who? easy!</p>

      <p>It's completely free and no signup is needed! Just log in using your
      Google account.</p>

      <div>
        <a href='/login' class='button large'>Get started!</a>
      </div>
    </div>
  </div>
</body>
</html>
