<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      id='journal-page'>
<xi:include href='page.html'/>
<xi:include href='data.xml'/>
<head/>
<body class='widget-app'>
  <div id='content'>
    <div id='new-entry-notice' class='alert-box success'
         style='display: none;'>
      Entry successfully added
      <a href="" class="close">&times;</a>
    </div>

    <h1>journal bio</h1>
    <a class='nice large radius button' href='#'>Invite friend</a>
    <a class='nice large radius button' href='new-entry'>Add entry</a>

    <div class='panel'>
      <h2>members</h2>
      <ul id='overview' class='block-grid three-up'>
        <li py:for='user in users'>
          ${render_avatar_img(user)}
          ${user.name}<br/>
          ${render_amount(user.amount)}
        </li>
      </ul>
    </div>

    <h2>recent entries</h2>
    <table>
      <thead>
        <th>date</th>
        <th>who</th>
        <th>amount</th>
        <th>description</th>
      </thead>

      <tr>
        <td>2012-06-06</td>
        <td>mig@ibofobi.dk</td>
        <td>${render_amount(42)}</td>
        <td>bought something</td>
      </tr>
      <tr>
        <td/>
        <td>mig@ibofobi.dk</td>
        <td>${render_amount(-21)}</td>
        <td/>
      </tr>
      <tr>
        <td/>
        <td>car@csis.dk</td>
        <td>${render_amount(-21)}</td>
        <td/>
      </tr>
    </table>
    <a class='nice large radius button' href='#'>View all entries</a>
  </div>
</body>
</html>

