<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<?python from datetime import datetime?>

<xi:include href='page.html'/>
<xi:include href='data.xml'/>

<head/>
<body class='widget-app'>
  <div id='content'>
    <div>
      <h1>add new entry</h1>

      <form action='journal' class='entry-editor'>
        <ul class='block-grid four-up'>
          <li>
            <label>
              <h2>payer</h2>
              <a href='#' id='select-payer'>${avatar(user.email)}</a>
              <input type='hidden' name='payer' value='${user.id}'
                     required='required'/>
            </label>
          </li>

          <li>
            <label>
              <h2>date</h2>
              <input type='date' name='date'
                     required='required'
                     value='${datetime.utcnow().strftime("%Y-%m-%d")}'/>
            </label>
          </li>

          <li>
            <label>
              <h2>amount</h2>
              <input type='number' name='amount' value='0'
                     min='1' required='required'/>
            </label>
          </li>
        </ul>

        <h2>victims</h2>
        <ul class='block-grid five-up'>
          <li py:for='user in users' style='text-align: center'>
            <a href='#' class='toggle-victim' data-user='${user.id}'>
              ${avatar(user.email)}<br/>
              ${user.name}
            </a>
          </li>
        </ul>

        <table id='victim-list'>
          <tr py:for='user in users' class='victim'
              data-user='${user.id}'
              style='display: none;'>
            <td>${avatar(user.email)}</td>
            <td>
              <div>
                <input type='hidden' name='victim' value='${user.id}'/>
                <input type='range' value='0' min='0' max='10'
                       name='shares' style='width: 100%;'/>
              </div>
              <div class='preview'/>
            </td>
          </tr>
        </table>

        <input type='submit'
               style='margin: 1em;'
               class='nice large radius button'
               value='Add entry'/>

        <div id='user-selector' style='display: none;'>
          <div py:for='user in users'
               class='avatar select-user'
               data-user='${user.id}'
               style='text-align: center;
                      width: 110px;
                      padding: 20px 10px;
                      display: inline-block;'>
            <a href='#'>
              ${avatar(user.email)}<br/>
              ${user.name}
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
