<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      id='home-page'>
<xi:include href='page.html'/>
<xi:include href='data.xml'/>
<head/>
<body class='widget-app'>
  <div id='content'>
    <h1>account settings</h1>
    <form method='POST' action='${url_for("settings")}'>
      ${form.csrf_token}

      <h3>What name would you like to be known by?</h3>
      ${render_field(form.name, placeholder='name', autofocus=True,
                     required=True, min=3, max=15)}

      <h3>Customize your avatar</h3>
      <p>To customize your avatar you have to sign up with
      <a href='https://en.gravatar.com/site/signup/'>gravatar</a>, and tell
      your e-mail address. We promise not to spam you, or give your e-mail
      address to anyone else, or do anything else naughty with it.</p>
      ${render_field(form.email, type='email',
                     placeholder='optional e-mail address',
                     max=30)}

      <input type='submit' class='button' value='save settings'/>
    </form>
  </div>
</body>
</html>
